<!-- head.ejs -->
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <meta charset="UTF-8">
  <title>BRAD WONG ｜  <%= title %></title>
  <meta name="description" content="Testing Node Project." />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="/images/logo.png" />
  <script src="/socket.io/socket.io.js"></script>
</head>
